<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create A User</title>
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <div class="topnav">
      <a href="/home">Home</a>
      <a href="/creage">Create User</a>
    </div>

    <div class="form">
      <form action="/update-user" method="POST">
        <fieldset>
          <legend>Fome add new users</legend>
          <div class="input-group userID">
            <label for="">ID: </label>
            <input type="text" name="id" value="<%= userEdit.id %>" />
          </div>
          <div class="input-group">
            <label for="">Emaill: </label>
            <input type="text" name="email" value="<%= userEdit.email %>" />
          </div>
          <div class="input-group">
            <label for="">Name: </label>
            <input type="text" name="myname" value="<%= userEdit.name %>" />
          </div>
          <div class="input-group">
            <label for="">City: </label>
            <input type="text" name="city" value="<%= userEdit.city %>" />
          </div>
          <div class="">
            <button>Save</button>
          </div>
        </fieldset>
      </form>
    </div>
  </body>
</html>
